<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BSD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A859BE401D02117E00C1DBD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A859BE571D02117E00C1DBD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A859BE621D02117E00C1DBD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
